{% extends 'tracker/base.html' %}

{% block title %}Expense list{% endblock %}
{% block content %}
{% if user.is_authenticated %}

    <h1>Expense List</h1>

    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>CZK</th>
                <th>Date</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.category.name }}</td>
                    <td>{{ expense.amount }} {{ expense.currency }}</td>
                    <td>{{ expense.to_czk }}</td>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<h2> Total amount </h2> - {{sum_amount|floatformat:2}} CZK

{% else %}
<h1>Register to See a list</h1>

{% endif %}
{% endblock %}

